<form [formGroup]="searchform" class="example-form">
<mat-card>
   
      <mat-toolbar color="primary">
        <mat-toolbar-row>
        <img src="assets/weathermap.png" width="50" hspace="10"><span>Weather Map</span> 
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-form-field style="width:400px !important">
        <input fomrControlName="city" type="text" placeholder="Enter City Name" ngModel matInput maxlength="50" required>
      </mat-form-field>
      <br>
  </mat-card>
  </form>